<h1>My Lists</h1>
<ul>
  <% @lists.each do |list| %>
    <li><%= link_to list.name, list_path(list)%></li>
  <% end %>
</ul>
  <%= link_to new_list_path, data: { turbo: true, turbo_frame: "modal" } do %>
    New List
  <% end %>
